// Classes for common containers.

// Copyright 2023 Qi Tianshi. All rights reserved.


@use "abstracts/mixins" as mix;
@use "abstracts/variables" as var;

// A container whose size is relative to the viewport.
.o-viewport-relative-container {
    &-full { width: 100vw; height: 100vh; }
    &-half-height { width: 100vw; height: 50vh; }
}

// A card with rounded corners.
.o-card-container {
    border-radius: var.$default-corner-radius;
    overflow: hidden;
}

// The Media Object. An image with text that appears as columns on wide screens
// and rows on narrow screens.
.o-media {

    display: flex;
    align-items: center;
    flex-wrap: wrap;

}

// Contains long-form text. Sets a max-width and adjusts the appearance of <p>
// elements for better readability.
.o-text-container {

    @include mix.trim-vertical-margins();

    max-width: var.$body-text-max-width;

    // Prevents text highlighting from extending to the edges of the page.
    position: relative;

    p {
        text-align: justify;
        line-height: 1.6;
    }

    @include mix.respond-to-breakpoint("small") {

        // Returns text-align to its unset value if the screen is too narrow to
        // avoid ugly stretched lines.
        p {
            text-align: unset;
            line-height: 1.4;
        }

    }

}
