// Classes for common containers.

// Copyright 2023 Qi Tianshi. All rights reserved.


@use "abstracts/mixins" as mix;

// Fills the entire viewport.
.o-fill-viewport-container {
    width: 100vw;
    height: 100vh;
}

// Fills half the height of the viewport.
.o-half-height-viewport-container {
    width: 100vw;
    height: 50vh;
}

// A card with rounded corners.
.o-card-container {
    border-radius: 15px;
    overflow: hidden;
}

// The Media Object. An image with text that appears as columns on wide screens
// and rows on narrow screens.
.o-media {

    display: flex;
    align-items: center;
    flex-wrap: wrap;

}

// Contains long-form text. Sets a max-width and adjusts the appearance of <p>
// elements for better readability.
.o-text-container {

    @include mix.trim-vertical-margins();

    max-width: 65ch;

    // Prevents text highlighting from extending to the edges of the page.
    position: relative;

    p {
        text-align: justify;
        line-height: 1.6;
    }

    @include mix.respond-to-breakpoint("small") {

        // Returns text-align to its unset value if the screen is too narrow to
        // avoid ugly stretched lines.
        p {
            text-align: unset;
            line-height: 1.4;
        }

    }

}
