// Stylesheet for the global footer.

// Copyright 2023 Qi Tianshi. All rights reserved.


@use "abstracts/mixins" as mix;
@use "abstracts/variables" as var;
@use "themes/themes";

$_navbar-height: 48px;
$_link-horizontal-padding: 35px;
$_link-line-height: 20px;
$_hamburger-icon-width: 24px;
$_hamburger-icon-height: 18px;
$_hamburger-bar-height: 2px;
$_hamburger-gap-height: calc(($_hamburger-icon-height - 3 * $_hamburger-bar-height) / 2);

#global-header {

    // Causes text to appear in dark theme colors.
    @extend .t-dark;

    // Places header above other page elements.
    position: fixed;
    z-index: 999;

    width: 100vw;

    // For the --transparent modifier.
    transition-property: background-color, backdrop-filter;
    transition-duration: 0.2s;

    // Fallback for browsers that don't support backdrop-filter.
    background-color: var.$background-secondary-color-dark;

    // Checks for backdrop-filter support. If available, the fallback
    // background-color is overriden.
    @supports (backdrop-filter: blur(10px) brightness(0.25)) {
        backdrop-filter: blur(10px) brightness(0.25);
        background-color: rgba(255, 255, 255, 0.1);
    }

    nav {

        height: $_navbar-height;

        // Links have horizontal padding to increase their clickable area, but
        // remain visually aligned.
        padding: 0 calc(10vw - $_link-horizontal-padding);

        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    &__home-navlink {

        height: $_navbar-height;

        transition: transform 0.1s ease-out;

        #global-header__logo {

            height: 35px;

            // Keeps the logo visually centered in the navbar.
            margin: 5px $_link-horizontal-padding auto;

            // Selects the <path> tag in the SVG element. Otherwise, the
            // `body *` selector in _typography will override the color of the
            // path.
            path {
                transition: color 0.1s;
                color: var(--foreground-primary-color);
            }

        }

        &:hover {

            transform: scale(110%);

            #global-header__logo path {
                color: var(--tiangerine-tangerine);
            }

        }

    }

    &__navigation-links {

        list-style-type: none;
        margin: 0;
        padding: 0;
        height: $_navbar-height;

        li {

            display: inline-block;

            a {

                display: block;
                padding: calc(($_navbar-height - $_link-line-height) / 2) $_link-horizontal-padding;

                color: var(--foreground-primary-color);
                font-size: 0.9rem;
                font-weight: 300;

                // 20px is the normal line-height for 0.9rem, but it's
                // explicitly defined so that the vertical padding can be
                // calculated to center the text.
                line-height: $_link-line-height;

                // For hover effect.
                transition-property: color, transform;
                transition-duration: 0.1s;
                transition-timing-function: ease-out;

                &:hover {
                    color: var(--tiangerine-tangerine);
                    text-decoration: none;
                    transform: scale(110%);
                }

            }

            &.global-header__navlink--active {

                box-sizing: border-box;
                border-top: 2px solid var(--tiangerine-tangerine);

                // Compensates for the 2px border by shifting the text upwards.
                a {
                    padding-top: calc(($_navbar-height - $_link-line-height) / 2) - 2px;
                }

            }

        }

    }

    &__hamburger {

        &-container {

            // By default, the hamburger button is hidden. The media query
            // below overrides this property.
            display: none;

        }

        &-checkbox {
            display: none;
        }

        &-button {

            display: block;

            // Padding keeps the icon centered.
            padding: calc(($_navbar-height - $_hamburger-icon-height) / 2) var.$mobile-padding;

            cursor: pointer;

        }

        &-icon {

            width: $_hamburger-icon-width;
            height: $_hamburger-icon-height;
            position: relative;

            // For the opening and closing animations.
            transition: 0.15s ease-out;

            span {

                display: block;
                position: absolute;
                left: 0;

                height: $_hamburger-bar-height;
                width: 100%;

                background-color: var(--foreground-primary-color);
                border-radius: $_hamburger-bar-height;

                transition: 0.15s ease-out;

                &:nth-of-type(1) {
                    top: 0px;
                }

                // Places the two overlaid middle bars in the middle of the icon.
                &:nth-of-type(2),
                &:nth-of-type(3) {
                    top: calc($_hamburger-bar-height + $_hamburger-gap-height);
                }

                // Places the bottom bar at the bottom of the icon.
                &:nth-of-type(4) {
                    top: calc(($_hamburger-bar-height + $_hamburger-gap-height) * 2);
                }

            }

        }

        // Selects the <span>s if the checkbox is checked.
        &-checkbox:checked + &-button span {

            &:nth-of-type(1),
            &:nth-of-type(4) {
                top: calc($_hamburger-bar-height + $_hamburger-gap-height);
                width: 0%;
                left: 50%;
            }

            &:nth-of-type(2) {
                transform: rotate(45deg);
            }

            &:nth-of-type(3) {
                transform: rotate(-45deg);
            }

        }

    }

    &.global-header--transparent {
        background-color: transparent;
        backdrop-filter: none;
        border-bottom: 0.5px solid var.$background-secondary-color-dark;
    }

    // The width at which the screen is too narrow to fit the navbar links.
    @include mix.respond-to-width(750px) {

        // Adjusts margins to make the navbar less crowded in narrow screens.

        nav {
            padding: 0;
        }

        &__home-navlink #global-header__logo {
            margin-left: var.$mobile-padding;
        }

        // Hides the navlinks and shows the hamburger button.

        &__navigation-links {
            display: none;
        }

        &__hamburger-container {
            display: block;
        }

    }

}
