// Stylesheet for the global footer.

// Copyright 2023 Qi Tianshi. All rights reserved.


@use "abstracts/functions" as func;
@use "abstracts/mixins" as mix;
@use "abstracts/variables" as var;
@use "themes/themes";

// Navbar layout
$_navlink-horizontal-padding: 35px;
$_mobile-navlink-height: 64px;

// The bottom border of the navbar when the --transparent modifier is active.
@mixin _transparent-mode-border($theme) {

    // CSS color variables don't support adding alpha channels, so a mixin with
    // Sass variables is used instead.
    border-bottom: 0.5px solid rgba(func.palette($theme, "foreground", 1), 0.2);

}

// The transition properties for the --transparent modifier.
@function _transparency-transitions($delay) {
    @return background-color 0.2s #{$delay}, backdrop-filter 0.2s #{$delay};
}

#global-header {

    // Places header above other page elements.
    position: fixed;
    z-index: 999;

    width: 100vw;

    transition: _transparency-transitions($delay: 0s);

    // Checks for backdrop-filter support. If available, the default
    // background-color of .u-hierarchy-elevated is overridden.
    @supports (backdrop-filter: blur()) {

        backdrop-filter: blur(30px);

        @include mix.color-theme(light) {
            background-color: rgba(func.palette("light", "background", 1), 0.8);
        }

        @include mix.color-theme(dark) {
            background-color: rgba(func.palette("dark", "background", 2), 0.8);
        }

    }

    nav {

        height: var.$global-header-height;

        // Links have horizontal padding to increase their clickable area, but
        // remain visually aligned.
        padding: 0 calc(10vw - $_navlink-horizontal-padding);

        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    &__home-navlink {

        height: var.$global-header-height;

        // For :hover.
        transition: transform 0.3s var.$fast-ease-out;

        #global-header__logo {

            height: 35px;

            // Keeps the logo visually centered in the navbar.
            margin: 5px $_navlink-horizontal-padding auto;

            // Selects the <path> tag in the SVG element. Otherwise, the
            // `body *` selector in _typography will override the color of the
            // path.
            path {
                transition: color 0.1s;
                color: var(--foreground-primary-color);
            }

        }

        &:hover {

            transform: scale(110%);

            #global-header__logo path {
                color: var(--tiangerine-tangerine);
            }

        }

    }

    &__navigation-links {

        list-style-type: none;
        margin: 0;
        padding: 0;
        height: var.$global-header-height;

        li {

            display: inline-block;

            a {

                display: block;
                padding: 0 $_navlink-horizontal-padding;

                color: var(--foreground-primary-color);
                font-size: 0.9rem;
                font-weight: 300;
                line-height: var.$global-header-height;       // Centers text vertically.

                // For hover effect.
                transition-property: color, transform;
                transition-duration: 0.3s;
                transition-timing-function: var.$fast-ease-out;

                &:hover {
                    color: var(--tiangerine-tangerine);
                    text-decoration: none;
                    transform: scale(110%);
                }

            }

            &.global-header__navlink--active {

                border-top: var.$default-accent-line-weight solid var(--tiangerine-tangerine);

                // Compensates for the 2px border by shifting the text upwards.
                a {
                    margin-top: calc(-1 * var.$default-accent-line-weight);
                }

            }

        }

    }

    .c-hamburger-button {

        // By default, the hamburger button is hidden. The media query
        // below overrides this property.
        display: none;

        --hamburger-button-height: #{var.$global-header-height};

    }

    &.global-header--transparent:not(.global-header--mobile-expanded) {

        background-color: transparent !important;
        backdrop-filter: none;
        box-shadow: none;

        @each $theme in "light", "dark" {

            @include mix.color-theme($theme) {
                @include _transparent-mode-border($theme);
            }

            &.global-header--transparency-theme-#{$theme} {
                @extend %t-#{$theme};
                @include _transparent-mode-border($theme);
            }

        }

    }

    // The width at which the screen is too narrow to fit the navbar links.
    @media screen and (max-width: 750px) {

        // The .global-header--mobile-closing is applied in JS for the duration
        // of the max-height transition (0.3s) to apply a delay in the
        // transparency transitions until after the dropdown has fully closed.
        &.global-header--transparent.global-header--mobile-closing {
            transition: _transparency-transitions(0.3s), max-height 0.3s ease-in;
        }

        transition: _transparency-transitions(0s), max-height 0.3s ease-in;

        max-height: var.$global-header-height;

        // Hides the navigation links when the dropdown is closed.
        overflow: clip;

        nav {

            // Resets default values.
            padding: 0;
            height: unset;

            // Creates a 2 by 2 grid to place the logo, the hamburger button,
            // and the navigation links.
            display: grid;
            grid-template-columns: auto calc(var.$hamburger-button-icon-width + 2 * var.$mobile-padding);
            grid-template-areas:
                "logo hamburger"
                "menu menu";

        }

        &__home-navlink {

            #global-header__logo {
                margin-left: var.$mobile-padding;
                grid-area: logo;
            }

            // Overrides default scaling behavior on hover.
            &:hover {
                transform: translateX(1vw);
            }

        }

        &__navigation-links {

            // Resets default values.
            height: unset;
            padding: 0 var.$mobile-padding;

            grid-area: menu;

            // Adds a border between the navigation links and the navbar.
            border-top: 1px solid var(--foreground-tertiary-color);

            li {

                display: block;
                height: $_mobile-navlink-height;

                // Adds a border between each link.
                border-top: inherit;

                a {

                    padding: 0 var.$mobile-padding;
                    font-size: 1.1rem;
                    line-height: $_mobile-navlink-height;

                    // Overrides default scaling behavior on hover.
                    &:hover {
                        transform: translateX(1vw);
                    }

                }

                &.global-header__navlink--active {

                    border-top: inherit;

                    // Places a line against the left edge of the screen.
                    &::before {

                        content: '';
                        position: absolute;
                        left: 0;
                        width: var.$default-accent-line-weight;
                        height: $_mobile-navlink-height;

                        background: var(--tiangerine-tangerine);

                    }

                    // Overrides default.
                    a {
                        margin-top: 0;
                    }

                }

                // The first link doesn't need a border because the parent
                // element already has a top border.
                &:first-of-type {
                    border-top: none;
                }

            }

        }

        .c-hamburger-button {
            display: block;
            grid-area: hamburger;
        }

        // This class is applied to the navigation links in JS when the
        // hamburger button is clicked.
        &.global-header--mobile-expanded &__navigation-links {

            // Applies animations with successive delays for each of the 4
            // navigation links.
            @for $i from 1 through 4 {
                li:nth-of-type(#{$i}) {
                    animation: 1s var.$fast-ease-out (0.06s * ($i)) normal both 1 fade-and-move-in;
                }
            }

        }

        // Allows the navbar height to be animated.
        &.global-header--mobile-expanded {
            max-height: 100vw;
        }

    }

}
