// Stylesheet for the global footer.

// Copyright 2023 Qi Tianshi. All rights reserved.


@use "abstracts/mixins" as mix;
@use "abstracts/variables" as var;

// For classes in the footer.
.global-footer {

    * {
        font-size: 0.65rem;
        color: var(--foreground-secondary-color);
    }

    // Places a border between each &__content.
    & > &__content + &__content {
        border-top: 1px solid var(--foreground-tertiary-color);
    }

    &__content {

        @include mix.apply-mobile-margin();

        // Keeps a 10% margin on both sides, similar to .c-stacked-banner--hero
        width: 80%;
        max-width: 130ch;

        // Keeps it centered.
        margin: 0 auto;

        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: space-between;
        gap: 0 1rem;

    }

}

// For IDs in the footer.
#global-footer {

    padding: 1rem 0;
    background-color: var(--background-secondary-color);

    // Places the authorship text and the toggle at opposite ends.
    &__main {
        flex-wrap: wrap-reverse;
    }

    // Links to legal pages.
    &__legal-links {

        margin: 0;
        padding: 0;
        list-style-type: none;

        // Collapses the space between <li> to zero. Otherwise, there would be
        // a space between each <li>.
        font-size: 0;

        // Gives each <li> a horizontal padding, except the leading and
        // trailing <li>.
        li {

            margin: 0;
            padding: 0 0.25rem;
            display: inline;

            &:first-of-type { padding-left: 0; }
            &:last-of-type { padding-right: 0; }

        }

        // Places a vertical border between each <li>.
        & > li + li {
            border-left: 1px solid var(--foreground-tertiary-color);
        }

    }

    &__color-theme-toggle {

        // Border around the toggle. Value of the radius is arbitrary; it just
        // needs to be bigger than half the height of the element to make it
        // pill-shaped.
        border: 1px solid var(--foreground-secondary-color);
        border-radius: 1rem;

        width: fit-content;
        height: min-content;

        // By default, the cursor between each label is "text".
        cursor: default;

        // The space between the outer border and the inner selection is meant
        // to be 1px all round. However, because the label has a vertical
        // padding of 1px; this outer padding must be 2px vertically to account
        // for padding collapse.
        padding: 2px 1px;

        // Makes the radio button UI element invisible.
        & input {
            position: fixed;
            opacity: 0;
            pointer-events: none;
        }

        // See above notes on border radius and padding.
        & label {
            cursor: pointer;
            border-radius: 1rem;
            padding: 1px 0.3rem;
        }

        // Highlights the selected option.
        & input:checked + label {
            background-color: var(--foreground-secondary-color);
            color: var(--background-secondary-color);
        }

        // On hovering, the toggle becomes the accent color.
        &:hover {

            border-color: var(--tiangerine-tangerine);

            & label {
                color: var(--tiangerine-tangerine);
            }

            & input:checked + label {
                background-color: var(--tiangerine-tangerine);
            }

        }

    }

}
