// Stylesheet for the global footer.

// Copyright 2023 Qi Tianshi. All rights reserved.


@use "abstracts/mixins" as mix;
@use "abstracts/placeholders";
@use "abstracts/variables" as var;

// Navbar layout
$_navbar-height: 48px;
$_navlink-horizontal-padding: 35px;
$_mobile-navlink-height: 64px;

// Hamburger button
$_hamburger-icon-width: 24px;
$_hamburger-icon-height: 18px;
$_hamburger-line-weight: 2px;
$_hamburger-gap-height: calc(($_hamburger-icon-height - 3 * $_hamburger-line-weight) / 2);

#global-header {

    @include mix.hierarchy-elevated();

    // Places header above other page elements.
    position: fixed;
    z-index: 999;

    width: 100vw;

    // For the --transparent modifier.
    transition-property: background-color, backdrop-filter;
    transition-duration: 0.2s;

    // Checks for backdrop-filter support. If available, the default
    // background-color of .u-elevated is overridden.
    @supports (backdrop-filter: blur()) {

        backdrop-filter: blur(30px);

        @include mix.light-theme() {
            background-color: rgba(var.$background-primary-color-light, 0.8);
        }

        @include mix.dark-theme() {
            background-color: rgba(var.$background-secondary-color-dark, 0.8);
        }

    }

    nav {

        height: $_navbar-height;

        // Links have horizontal padding to increase their clickable area, but
        // remain visually aligned.
        padding: 0 calc(10vw - $_navlink-horizontal-padding);

        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    &__home-navlink {

        height: $_navbar-height;

        transition: transform 0.3s var.$fast-ease-out;

        #global-header__logo {

            height: 35px;

            // Keeps the logo visually centered in the navbar.
            margin: 5px $_navlink-horizontal-padding auto;

            // Selects the <path> tag in the SVG element. Otherwise, the
            // `body *` selector in _typography will override the color of the
            // path.
            path {
                transition: color 0.1s;
                color: var(--foreground-primary-color);
            }

        }

        &:hover {

            transform: scale(110%);

            #global-header__logo path {
                color: var(--tiangerine-tangerine);
            }

        }

    }

    &__navigation-links {

        list-style-type: none;
        margin: 0;
        padding: 0;
        height: $_navbar-height;

        li {

            display: inline-block;

            a {

                display: block;
                padding: 0 $_navlink-horizontal-padding;

                color: var(--foreground-primary-color);
                font-size: 0.9rem;
                font-weight: 300;
                line-height: $_navbar-height;       // Centers text vertically.

                // For hover effect.
                transition-property: color, transform;
                transition-duration: 0.3s;
                transition-timing-function: var.$fast-ease-out;

                &:hover {
                    color: var(--tiangerine-tangerine);
                    text-decoration: none;
                    transform: scale(110%);
                }

            }

            &.global-header__navlink--active {

                border-top: 2px solid var(--tiangerine-tangerine);

                // Compensates for the 2px border by shifting the text upwards.
                a {
                    margin-top: -2px;
                }

            }

        }

    }

    &__hamburger {

        &-container {

            // By default, the hamburger button is hidden. The media query
            // below overrides this property.
            display: none;

        }

        &-checkbox {
            display: none;
        }

        &-button {

            display: block;

            // Padding keeps the icon centered.
            padding: calc(($_navbar-height - $_hamburger-icon-height) / 2) var.$mobile-padding;

            cursor: pointer;

        }

        &-icon {

            width: $_hamburger-icon-width;
            height: $_hamburger-icon-height;
            position: relative;

            span {

                display: block;
                position: absolute;
                left: 0;

                height: $_hamburger-line-weight;
                width: 100%;

                background-color: var(--foreground-primary-color);
                border-radius: $_hamburger-line-weight;

                // For the opening and closing animations.
                transition: 0.15s ease-out;

                &:nth-of-type(1) {
                    top: 0px;
                }

                // Places the two overlaid middle bars in the middle of the icon.
                &:nth-of-type(2),
                &:nth-of-type(3) {
                    top: calc($_hamburger-line-weight + $_hamburger-gap-height);
                }

                // Places the bottom bar at the bottom of the icon.
                &:nth-of-type(4) {
                    top: calc(($_hamburger-line-weight + $_hamburger-gap-height) * 2);
                }

            }

        }

        // Selects the <span>s if the checkbox is checked.
        &-checkbox:checked + &-button span {

            &:nth-of-type(1),
            &:nth-of-type(4) {
                top: calc($_hamburger-line-weight + $_hamburger-gap-height);
                width: 0%;
                left: 50%;
            }

            &:nth-of-type(2) {
                transform: rotate(45deg);
            }

            &:nth-of-type(3) {
                transform: rotate(-45deg);
            }

        }

    }

    &.global-header--transparent {

        &.global-header--transparency-theme {
            &-dark { @extend %always-dark-theme; }
            &-light { @extend %always-light-theme; }
        }

        background-color: transparent !important;
        backdrop-filter: none;
        box-shadow: none;

        // CSS variables containing colors don't support adding alpha channels
        // after the fact, so a mixin with Sass variables is used instead.

        @include mix.light-theme() {
            border-bottom: 0.5px solid rgba(var.$foreground-primary-color-light, 0.2);
        }

        @include mix.dark-theme() {
            border-bottom: 0.5px solid rgba(var.$foreground-primary-color-dark, 0.2);
        }

    }

    // The width at which the screen is too narrow to fit the navbar links.
    @media screen and (max-width: 750px) {

        // Adjusts margins to make the navbar less crowded in narrow screens.

        nav {

            // Resets default values.
            padding: 0;
            height: unset;

            // Creates a 2 by 2 grid to place the logo, the hamburger button,
            // and the navigation links.
            display: grid;
            grid-template-columns: auto calc($_hamburger-icon-width + 2 * var.$mobile-padding);
            grid-template-areas:
                "logo hamburger"
                "menu menu";

        }

        &__home-navlink {

            #global-header__logo {
                margin-left: var.$mobile-padding;
                grid-area: logo;
            }

            // Overrides default scaling behavior on hover.
            &:hover {
                transform: translateX(1vw);
            }

        }

        &__navigation-links {

            // By default, navigation links are hidden.
            display: none;

            // Resets default values.
            height: unset;
            padding: 0 var.$mobile-padding;

            grid-area: menu;

            // Adds a border between the navigation links and the navbar.
            border-top: 1px solid var(--foreground-tertiary-color);

            li {

                display: block;
                height: $_mobile-navlink-height;

                // Adds a border between each link.
                border-top: inherit;

                a {

                    padding: 0 var.$mobile-padding;
                    font-size: 1.1rem;
                    line-height: $_mobile-navlink-height;

                    // Overrides default scaling behavior on hover.
                    &:hover {
                        transform: translateX(1vw);
                    }

                }

                &.global-header__navlink--active {

                    border-top: inherit;

                    // Places a line against the left edge of the screen.
                    &::before {

                        content: '';
                        position: absolute;
                        left: 0;
                        width: 2px;
                        height: $_mobile-navlink-height;

                        background: var(--tiangerine-tangerine);

                    }

                    // Overrides default.
                    a {
                        margin-top: 0;
                    }

                }

                // The first link doesn't need a border because the parent
                // element already has a top border.
                &:first-of-type {
                    border-top: none;
                }

            }

        }

        &__hamburger-container {
            display: block;
            grid-area: hamburger;
        }

        // This class is applied to the navigation links in JS when the
        // hamburger button is clicked.
        &.global-header--mobile-expanded &__navigation-links {
            display: block;
        }

    }

}
