<!-- Global header -->

<!-- Copyright 2024 Qi Tianshi. All rights reserved. -->


<header id="global-header">

    <!-- The navigation menu. -->
    <nav
        class="
            {% if page.navbar_transparency_theme %}
                global-header--transparency-theme-{{ page.navbar_transparency_theme }}
            {% endif %}
            u-hierarchy-elevated"
    >

        <a href="/" id="global-header__home-navlink" aria-label="To the homepage">
            {% include svg/tian-wordmark.svg attributes='id="global-header__logo"' %}
        </a>

        <menu id="global-header__navigation-links" role="navigation" aria-label="Main">

            {% for link in site.data.global_header_navlinks %}

                <li
                    {% if page.active_navlink == link.text %}
                        class="global-header__navlink--active"
                    {% endif %}
                >
                    <a href="{{ link.destination | relative_url }}">{{ link.text }}</a>
                </li>

            {% endfor %}

        </menu>

        {% include components/hamburger-button.html parent_id="global-header" %}

    </nav>

    <!--
        Blurs the rest of the page when the navbar is expanded in mobile
        layout, and allows the navbar to be dismissed by clicking outside it.
    -->
    <div id="global-header__background-filter" class="o-viewport-relative-container--full"></div>

</header>
