<!-- Global footer -->

<!-- Copyright 2023 Qi Tianshi. All rights reserved. -->


<footer id="global-footer" class="u-background-scribble u-background-scribble--top-right">

    <div id="global-footer__main" class="global-footer__section">

        <small>
            Made in the small hours by <b>Qi Tianshi</b>. <a href="https://github.com/qitianshi/qitianshi.github.io" target="_blank" class="quiet-link">Source code on GitHub</a>
        </small>

        <!-- A three-way toggle that allows the user to override their browser color scheme. Event handled in JavaScript. -->
        <div id="global-footer__color-theme-toggle" class="c-toggle" role="radiogroup">

            {% assign themes = "light,dark,auto" | split: "," %}

            {% for option in themes %}

                <input type="radio" name="color-theme-toggle" value="{{ option }}" id="color-theme-toggle__{{ option }}">
                <label for="color-theme-toggle__{{ option }}"><span>{{ option }}</span></label>

            {% endfor %}

        </div>

    </div>

    <div id="global-footer__legal" class="global-footer__section">

        <small>&copy; 2024 Qi Tianshi. All rights reserved.</small>

        <ul id="global-footer__legal-links">
            <li><a href="/legal/privacy" class="quiet-link">privacy</a></li>
            <li><a href="/legal/acknowledgments" class="quiet-link">acknowledgments</a></li>
        </ul>

    </div>

</footer>
