<!-- Global header -->

<!-- Copyright 2023 Qi Tianshi. All rights reserved. -->


<header
    id="global-header"
    class="
        {% if page.navbar_transparency_theme %}
            global-header--transparency-enabled global-header--transparency-theme-{{ page.navbar_transparency_theme }}
        {% endif %}
        u-hierarchy-elevated"
>
    <nav>

        <a href="/" id="global-header__home-navlink" aria-label="To the homepage">
            {% include svg/tian-wordmark.svg attributes='id="global-header__logo"' %}
        </a>

        <menu id="global-header__navigation-links" role="navigation" aria-label="Main">

            {% for link in site.data.global_header_navlinks %}

                <li
                    {% if page.active_navlink == link.text %}
                        class="global-header__navlink--active"
                    {% endif %}
                >
                    <a href="{{ link.destination | relative_url }}">{{ link.text }}</a>
                </li>

            {% endfor %}

        </menu>

        <!-- Hamburger button that expands navbar items for narrow screens. -->
        <div id="global-header__hamburger-container">

            <!-- Checkbox allows opening and closing of the menu without JavaScript. -->
            <input type="checkbox" id="global-header__hamburger-checkbox">

            <!-- Clickable area of the button. Clicking the button checks the checkbox. -->
            <label for="global-header__hamburger-checkbox" id="global-header__hamburger-button" role="button" aria-label="Toggle navigation menu">

                <!-- Each span is a line that is styled and animated in CSS. -->
                <div id="global-header__hamburger-icon">
                    {% for i in (1..4) %}
                        <span></span>
                    {% endfor %}
                </div>

            </label>

        </div>

    </nav>
</header>
