# .gitignore

# Copyright 2023 Qi Tianshi. All rights reserved.


# ---------- Jekyll ----------

# Jekyll metadata
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Bundler files
.bundle/
vendor/

# Gem files
Gemfile.lock

# webpack and Node files
public
node_modules

# Compiled JavaScript from webpack
src/assets/scripts/

# ----------- Misc -----------

.vscode/
