---
title: "Page not found"
---

<!-- 404 page -->


<!DOCTYPE html>

<html lang="{{ site.lang | default: "en-US" }}">

<head>

    {% include default-head.html %}

    <link rel="stylesheet" href="{{ "/assets/css/404.css" | relative_url }}">

</head>

<body>

    <div class="banner-full" id="error-404-banner">
        <div class="banner-full-text">
            <h1>This page couldn't be found.</h1>
            <p><a href="/">Back to the homepage &rarr;</a></p>
        </div>
    </div>

    {% include sitewide-footer.html %}

</body>

</html>
