<!-- The submit button for a .c-form, with status indicators. -->

<!-- Copyright 2025 Qi Tianshi. All rights reserved. -->


<input type="text" name="_gotcha"/>

<button
    type="submit"
    class="c-form__submit c-form__submit--{{ include.state | default: 'default' }}"
    {% if include.state == "waiting" or include.state=="success" %} disabled {% endif %}
    tabindex="0"
>

    <span class="c-form__submit-label--default">
        submit
    </span>

    <span class="c-form__submit-label--waiting o-media">
        {% include svg/progress-activity.svg %}
        waiting&mldr;
    </span>

    <span class="c-form__submit-label--success o-media">
        {% include svg/check-circle.svg %}
        submitted.
    </span>

    <span class="c-form__submit-label--failure o-media">
        {% include svg/error.svg %}
        try again.
    </span>

</button>

<small class="c-form__multiple-failed-submits-warning">
    Something's been going wrong while trying to submit this form. If you keep seeing this error, try reaching out through my socials instead. <a href="https://status.formspree.io" target="_blank">Formspree status</a>
</small>
