// Restyles a radio group as a pill-shaped toggle.
//
// Custom properties:
//   --toggle-background-color: --background-primary-color
//   --toggle-focused-foreground-color: --tiangerine-tangerine
//   --toggle-unfocused-foreground-color: --foreground-primary-color

// Copyright 2023 Qi Tianshi. All rights reserved.


$_outer-padding: 1px;
$_label-vertical-padding: 1px;

.c-toggle {

    // Custom properties with fallbacks.
    --_background-color: var(--toggle-background-color, var(--background-primary-color));
    --_focused-foreground-color: var(--toggle-focused-foreground-color, var(--tiangerine-tangerine));
    --_unfocused-foreground-color: var(--toggle-unfocused-foreground-color, var(--foreground-primary-color));

    // Border around the toggle. Value of the radius is arbitrary; it just
    // needs to be bigger than half the height of the element to make it
    // pill-shaped.
    border: 1px solid var(--_unfocused-foreground-color);
    border-radius: 1rem;

    width: fit-content;
    height: min-content;

    // By default, the cursor between each label is "text".
    cursor: default;

    // The space between the outer border and the inner selection is meant
    // to be 1px all round. However, because the label has a vertical
    // padding of 1px; this outer padding must be 2px vertically to account
    // for padding collapse.
    padding: calc($_outer-padding + $_label-vertical-padding) $_outer-padding;

    input {

        // Makes the radio button UI element invisible.
        position: fixed;
        opacity: 0;
        pointer-events: none;

        // Highlights the selected option.
        &:checked + label {

            background-color: var(--_unfocused-foreground-color);

            span {
                color: var(--_background-color);
            }

        }

    }

    label {

        // See above notes on border radius and padding.
        cursor: pointer;
        border-radius: 1rem;
        padding: $_label-vertical-padding 0.3rem;

        // Repositions text to better center it in the pill.
        span {
            position: relative;
            bottom: 0.5px;
            left: 0.5px;
        }

    }

    // On hovering, the toggle becomes the accent color. An additional
    // media query is used to prevent the toggle from staying colored on
    // touchscreen devices.
    @media (any-hover: hover) {
        &:hover {

            border-color: var(--_focused-foreground-color);

            label span {
                color: var(--_focused-foreground-color);
            }

            input:checked + label {
                background-color: var(--_focused-foreground-color);
            }

        }
    }

}
