// Commonly used animations.

// Copyright 2023 Qi Tianshi. All rights reserved.


/// Rotates clockwise through 360 degrees.
@keyframes full-rotation {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/// Appears by fading in while moving downwards.
@keyframes fade-and-move-in {

    from {
        transform: translateY(-1em);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }

}
