// Commonly used animations.

// Copyright 2023 Qi Tianshi. All rights reserved.


@keyframes progress-spinner-rotation {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes fade-and-move-in {

    from {
        transform: translateY(-1em);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }

}
