// Common utility classes.

// Copyright 2023 Qi Tianshi. All rights reserved.


@use "abstracts/mixins" as mix;
@use "abstracts/variables" as var;

/// Makes elements appear elevated above the primary background. Applies a
/// shadow; in light theme, keeps the background color the same as the
/// primary background, and in dark theme, makes the background the secondary
/// background color.
.u-hierarchy-elevated {

    @include mix.default-shadow();

    @include mix.color-theme(light) {
        background-color: var.$background-primary-color-light;
    }

    @include mix.color-theme(dark) {
        background-color: var.$background-secondary-color-dark;
    }

}

.u-background-scribble-modal {

    @include mix.color-theme(light) {
        background-image: url("/assets/images/extras/scribble-light.svg");
    }

    @include mix.color-theme(dark) {
        background-image: url("/assets/images/extras/scribble-dark.svg");
    }

    background-size: cover;
    background-repeat: no-repeat;

    // Positioning options.
    background-position: bottom right 20%;              // Default.
    &--top-right { background-position: top 20% right 20%; }

}
