// Common utility classes.

// Copyright 2023 Qi Tianshi. All rights reserved.


@use "abstracts/mixins" as mix;
@use "abstracts/variables" as var;

.u-background-scribble-modal {

    @include mix.light-theme() {
        background-image: url("/assets/images/extras/scribble-light.svg");
    }

    @include mix.dark-theme() {
        background-image: url("/assets/images/extras/scribble-dark.svg");
    }

    background-size: cover;
    background-repeat: no-repeat;

    // Positioning options.
    background-position: bottom right 20%;              // Default.
    &--top-right { background-position: top 20% right 20%; }

}
