// Base stylesheet, including typography and resets.

// Copyright 2023 Qi Tianshi. All rights reserved.


@use "abstracts/mixins" as mix;
@use "abstracts/variables" as var;

// ---------- Fonts ----------

// Imports font families Barlow and Grape Nuts from Google Fonts.
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&family=Grape+Nuts&family=Inconsolata&display=swap");

// Adjusts size and descent for Verdana to match Grape Nuts.
// Not supported in Safari 16.
@font-face {
    font-family: "Verdana Fallback";
    src: local(Verdana);
    size-adjust: 75%;
    ascent-override: 120%;
    descent-override: 44%;
    line-gap-override: 0%;
}

// --------- Styles ----------

:root {

    // Sets the light theme colors as default for compatibility with browsers
    // that don't support prefers-color-scheme.
    @include mix.set-color-palette(light);

    // If the browser requests a dark theme, the light theme variables are
    // overridden.
    @media screen and (prefers-color-scheme: dark) {
        @include mix.set-color-palette(dark);
    }

}

html {
    font-size: 125%;   // Increases all font sizes by 25% for better legibility.
}

body {

    height: 100%;
    margin: 0;

    background-color: var(--background-primary-color);

    font-family: var.$body-font-family;

}

// Color variable must be explicitly set for every element, because otherwise
// the value calculated in :root will be inherited. Only the primary text color
// is defined here, because only text inherits its color from <body>; all
// other elements have their colors defined lower in the hierarchy and thus
// will be correctly affected by applying theme classes.
body * {
    color: var(--foreground-primary-color);
}

h1,
%h1-style {

    font-family: var.$display-font-family;
    font-size: 2.6rem;
    line-height: 0.9em;
    margin: 1.8em 0 1rem;

    // Adds an accent color beneath the text
    border-bottom: var.$default-accent-line-weight solid;
    border-color: var(--tiangerine-tangerine);

    // Makes the width fit its content; otherwise, the underline would extend
    // beyond the text.
    width: fit-content;
    max-width: 100%;

}

h2, h3, h4 {
    margin: 2em 0 1em;
    color: var(--tiangerine-tangerine);
}

h2 {
    font-weight:100;
    font-size: 2.1em;
}

h3 {
    font-weight: 300;
    font-size: 1.3em;
}

h4 {
    font-weight: 700;
    font-size: 1em;
}

p {
    font-weight: 400;
    font-size: 1rem;
}

a {

    &:any-link,
    &:any-link * {
        color: var(--link-color);
        text-decoration: none;
    }

    &:hover,
    &.quiet-link:hover {
        color: var(--link-hover-color);
        text-decoration: underline;
    }

    // A link that follows the color of its parent.
    &.quiet-link,
    &.quiet-link * {
        color: inherit;
        text-decoration: underline;
    }

    // Placeholder for links affixed with pseudo-element markers.
    @at-root %marked-link {
        font-family: var.$body-font-family;
    }

    // A link that represents a backward navigation.
    &.back-link::before {
        @extend %marked-link;
        content: "\02190\202f";     // A left arrow (&larr;) and a space.
    }

    // A link that represents a forward navigation.
    &.forward-link::after {
        @extend %marked-link;
        content: "\202f\2192";      // A space and a right arrow (&rarr;).
    }

    // A link to an external website. Automatically detects URLs to external
    // domains.
    &.external-link,
    &[href^="http://"]:not([href^="http://qitianshi.github.io"]),
    &[href^="https://"]:not([href^="https://qitianshi.github.io"]) {
        &::after {
            @extend %marked-link;
            content: "\202f\2197";  // A space and a north east arrow (&nearr;).
        }
    }

    // A link that fills its entire parent element.
    &.fill-link {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
    }

}

small {

    font-size: var.$small-font-size;
    color: var(--foreground-secondary-color);

    margin-block: 1em;

    * {
        color: inherit;
    }

    // By default, any link in <small> is displayed discreetly.
    a:any-link,
    a:any-link * {
        @extend .quiet-link;
    }

}

code {

    font-family: var.$mono-font-family;
    font-size: 0.9em;

    padding: 0.2em 0.4em;
    border-radius: 0.4em;
    background-color: var(--code-background-color);

    // To avoid ambiguity, links in code are always underlined.
    a:any-link,
    a:any-link * {
        text-decoration: underline;
    }

}
