<!-- The content of <head> in the default layout. -->

<!-- Copyright 2023 Qi Tianshi. All rights reserved. -->


<title>{{ page.title }} - {{ site.title }}</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">

<!-- Default stylesheet -->
<link rel="stylesheet" href="{{ "/assets/styles/default.css" | relative_url }}">

<!-- Favicons -->
<link rel="icon" href="/assets/brand/favicon32.png" sizes="32x32">
<link rel="icon" href="/assets/brand/favicon128.png" sizes="128x128">
<link rel="icon" href="/assets/brand/favicon180.png" sizes="180x180">
<link rel="icon" href="/assets/brand/favicon192.png" sizes="192x192">

<!-- Apple Touch icon -->
<link rel="apple-touch-icon" href="/assets/brand/apple-touch-icon.png" sizes="360x360">
