<!-- Sitewide footer -->

<!-- Copyright 2023 Qi Tianshi. All rights reserved. -->


<footer class="sitewide-footer" id="sitewide-footer">

    <div id="sitewide-footer__main" class="sitewide-footer__content">
        <p>Made in the small hours by <b>Qi Tianshi</b>. <a href="https://github.com/qitianshi/qitianshi.github.io" target="_blank" class="external-link">Source code on GitHub</a></p>
    </div>

    <div id="sitewide-footer__legal" class="sitewide-footer__content">
        <p>&copy; 2023 Qi Tianshi. All rights reserved.</p>
    </div>

</footer>
