<!-- Sitewide header -->

<!-- Copyright 2023 Qi Tianshi. All rights reserved. -->


<header id="sitewide-header">
    <nav>

        <a href="/" id="test">
            <img src="/assets/brand/wordmark-white.svg" alt="tian logo" id="sitewide-header__logo">
        </a>

        <ul id="sitewide-header__navigation-links">
            <li><a href="/under-construction.html">About</a></li>
            <li><a href="/under-construction.html">Projects</a></li>
            <li><a href="/under-construction.html">Gallery</a></li>
            <li><a href="/under-construction.html">Contact</a></li>
        </ul>

    </nav>
</header>
