<!-- Sitewide header -->

<!-- Copyright 2023 Qi Tianshi. All rights reserved. -->


<header id="sitewide-header">

    <nav>
        <ul>
            <li><a href="/under-construction.html">Home</a></li>
            <li><a href="/under-construction.html">About</a></li>
            <li><a href="/under-construction.html">Projects</a></li>
            <li><a href="/under-construction.html">Gallery</a></li>
            <li><a href="/under-construction.html">Contact</a></li>
        </ul>
    </nav>

</header>
