// Stylesheet for banners

// Copyright 2023 Qi Tianshi. All rights reserved.


// A div that rescales to match the viewport
.banner-full {

    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

// The background image that fills the banner.
.banner-background {

    width: 100%;
    height: 100%;
    object-fit: cover;

    filter: brightness(0.35);

    // A gray background that's only visible when the image is still waiting to
    // load, to keep the overlaid text legible.
    background: gray;

}

// The div containing the text overlay on banner-full
.banner-full-text {

    // Text and color elements default to their dark theme versions since
    // there's usually an image background; override if necessary.
    color: $text-primary-color-dark;

    // Centers text vertically
    margin: auto 10%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}

// The main heading text in banner-full
.banner-full-text h1 {
    font-size: 4em;
    margin: 0.5em 0;
}

// Emphasized appearance for banner-full
.banner-full-emphasized h1 {
    color: $tiangerine-tangerine-dark;
}

// Legibility adjustment for small screen sizes
@media screen and (max-width: 450px) {

    // Reduces the font size of the heading text
    .banner-full-text h1 {
        font-size: 3em;
    }

}
