// Primary stylesheet

// Copyright 2023 Qi Tianshi. All rights reserved.


@import "presets";


// ---------- Fonts ----------

// Adjusts size and descent for Verdana and Georgia to match Rokkitt
// Not supported in Safari 16.2
@font-face {
    font-family: "Verdana Fallback";
    src: local(Verdana);
    size-adjust: 84%;
    ascent-override: normal;
    descent-override: 35%;
    line-gap-override: normal;
}

@font-face {
    font-family: "Georgia Fallback";
    src: local(Georgia);
    size-adjust: 93%;
    ascent-override: normal;
    descent-override: 32%;
    line-gap-override: normal;
}

// Import font families Inter and Rokkitt from Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Rokkitt:wght@100..900&display=swap');


// --------- Colors ----------

// Implements support for light and dark themes.

// Use variables defined below to have colors dynamically adjust depending on
// the currently active theme. Otherwise, specify a specific light or dark
// theme color using variables in presets.scss.

@media (prefers-color-scheme: light) {
    :root {
        --tiangerine-tangerine: #{$tiangerine-tangerine-light};
        --background-primary-color: #{$background-primary-color-light};
        --background-secondary-color: #{$background-secondary-color-light};
        --text-primary-color: #{$text-primary-color-light};
        --text-secondary-color: #{$text-secondary-color-light};
        --link-color: #{$link-color-light};
        --link-hover-color: #{$link-hover-color-light};
        --icon-color-filter: #{$icon-color-filter-light};
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --tiangerine-tangerine: #{$tiangerine-tangerine-dark};
        --background-primary-color: #{$background-primary-color-dark};
        --background-secondary-color: #{$background-secondary-color-dark};
        --text-primary-color: #{$text-primary-color-dark};
        --text-secondary-color: #{$text-secondary-color-dark};
        --link-color: #{$link-color-dark};
        --link-hover-color: #{$link-hover-color-dark};
        --icon-color-filter: #{$icon-color-filter-dark};
    }
}

:root {
    color-scheme: light dark;
}


// --------- Styles ----------

html, body {

    height: 100%;
    margin: 0;

    background-color: var(--background-primary-color);
    color: var(--text-primary-color);

    font-family: $body-font-family;

}

h1  {

    font-family: $heading-font-family;
    font-size: 3em;

    // Adds an accent color beneath the text
    border-bottom: 2px solid;
    border-color: var(--tiangerine-tangerine);

}

h2, h3, h4, h5, h6 {
    font-family: $body-font-family;
    margin: 2em auto 1em;
}

p {
    font-family: $body-font-family;
    font-size: 120%;
}

a:link, a:visited {
    color: var(--link-color);
}

a:hover {
    color: var(--link-hover-color);
}

// A link that fills its entire parent element.
a.project-card__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.light-theme-text {
    color: $text-primary-color-light;
}

.dark-theme-text {
    color: $text-primary-color-dark;
}

.device-theme-text {
    color: var(--text-primary-color);
}
