// Primary stylesheet


// Adjusts size and descent for Verdana and Georgia to match Rokkitt
// Not supported on Safari 16.2
@font-face {
    font-family: "Verdana Fallback";
    src: local(Verdana);
    size-adjust: 84%;
    ascent-override: normal;
    descent-override: 35%;
    line-gap-override: normal;
}

@font-face {
    font-family: "Georgia Fallback";
    src: local(Georgia);
    size-adjust: 93%;
    ascent-override: normal;
    descent-override: 32%;
    line-gap-override: normal;
}

// Import font families Inter and Rokkitt from Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Rokkitt:wght@100..900&display=swap');
$headingFontFamily: "Rokkitt", "Georgia Fallback", "Verdana Fallback", Georgia, Verdana, Geneva, Tahoma, sans-serif;
$bodyFontFamily: "Inter", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;

html, body {
    height: 100%;
    margin: 0;
}

h1  {
    font-family: $headingFontFamily;
    margin: 1em auto 2em;
    font-size: 3em;
}

h2, h3, h4, h5, h6 {
    font-family: $bodyFontFamily;
    margin: 2em auto 1em;
}

p {
    font-family: $bodyFontFamily;
}
