// Primary stylesheet


@import "presets";


// ---------- Fonts ----------

// Import font families Inter and Rokkitt from Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Rokkitt:wght@100..900&display=swap');


// --------- Colors ----------

@media (prefers-color-scheme: light) {
    :root {
        --tiangerine-tangerine: #{$tiangerine-tangerine-light};
        --background-primary-color: #{$background-primary-color-light};
        --background-secondary-color: #{$background-secondary-color-light};
        --text-primary-color: #{$text-primary-color-light};
        --text-secondary-color: #{$text-secondary-color-light};
        --link-color: #{$link-color-light};
        --link-hover-color: #{$link-hover-color-light};
        --icon-color-filter: #{$icon-color-filter-light};
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --tiangerine-tangerine: #{$tiangerine-tangerine-dark};
        --background-primary-color: #{$background-primary-color-dark};
        --background-secondary-color: #{$background-secondary-color-dark};
        --text-primary-color: #{$text-primary-color-dark};
        --text-secondary-color: #{$text-secondary-color-dark};
        --link-color: #{$link-color-dark};
        --link-hover-color: #{$link-hover-color-dark};
        --icon-color-filter: #{$icon-color-filter-dark};
    }
}

:root {
    color-scheme: light dark;
}


// --------- Styles ----------

html, body {

    height: 100%;
    margin: 0;

    background-color: var(--background-primary-color);
    color: var(--text-primary-color);

}

h1  {
    font-family: $heading-font-family;
    margin: 1em auto 2em;
    font-size: 3em;
}

h2, h3, h4, h5, h6 {
    font-family: $body-font-family;
    margin: 2em auto 1em;
}

p {
    font-family: $body-font-family;
}

a:link, a:visited {
    color: var(--link-color);
}

a:hover {
    color: var(--link-hover-color);
}
