// Primary stylesheet


// ---------- Fonts ----------

// Adjusts size and descent for Verdana and Georgia to match Rokkitt
// Not supported on Safari 16.2
@font-face {
    font-family: "Verdana Fallback";
    src: local(Verdana);
    size-adjust: 84%;
    ascent-override: normal;
    descent-override: 35%;
    line-gap-override: normal;
}

@font-face {
    font-family: "Georgia Fallback";
    src: local(Georgia);
    size-adjust: 93%;
    ascent-override: normal;
    descent-override: 32%;
    line-gap-override: normal;
}

// Import font families Inter and Rokkitt from Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Rokkitt:wght@100..900&display=swap');
$heading-font-family: "Rokkitt", "Georgia Fallback", "Verdana Fallback", Georgia, Verdana, Geneva, Tahoma, sans-serif;
$body-font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;


// --------- Colors ----------

$tiangerine-tangerine-light: #ef4b07;
$background-primary-color-light: #ffffff;
$background-secondary-color-light: #dcdcdc;
$text-primary-color-light: #000000;
$text-secondary-color-light: #6a6a6a;
$link-color-light: hsl(220, 80%, 50%);
$link-hover-color-light: hsl(220, 75%, 55%);
$icon-color-filter-light: none;

$tiangerine-tangerine-dark: #ff5208;
$background-primary-color-dark: #0f0f0f;
$background-secondary-color-dark: #232323;
$text-primary-color-dark: #f5f5f5;
$text-secondary-color-dark: #959595;
$link-color-dark: #71a8f4;
$link-hover-color-dark: #68a2f3;
$icon-color-filter-dark: invert(100%) sepia(0%) saturate(7481%) hue-rotate(96deg) brightness(105%) contrast(101%);   // Converts #000000 SVGs to #ffffff

@media (prefers-color-scheme: light) {
    :root {
        --tiangerine-tangerine: #{$tiangerine-tangerine-light};
        --background-primary-color: #{$background-primary-color-light};
        --background-secondary-color: #{$background-secondary-color-light};
        --text-primary-color: #{$text-primary-color-light};
        --text-secondary-color: #{$text-secondary-color-light};
        --link-color: #{$link-color-light};
        --link-hover-color: #{$link-hover-color-light};
        --icon-color-filter: #{$icon-color-filter-light};
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --tiangerine-tangerine: #{$tiangerine-tangerine-dark};
        --background-primary-color: #{$background-primary-color-dark};
        --background-secondary-color: #{$background-secondary-color-dark};
        --text-primary-color: #{$text-primary-color-dark};
        --text-secondary-color: #{$text-secondary-color-dark};
        --link-color: #{$link-color-dark};
        --link-hover-color: #{$link-hover-color-dark};
        --icon-color-filter: #{$icon-color-filter-dark};
    }
}

:root {
    color-scheme: light dark;
}


// --------- Styles ----------

html, body {

    height: 100%;
    margin: 0;

    background-color: var(--background-primary-color);
    color: var(--text-primary-color);

}

h1  {
    font-family: $heading-font-family;
    margin: 1em auto 2em;
    font-size: 3em;
}

h2, h3, h4, h5, h6 {
    font-family: $body-font-family;
    margin: 2em auto 1em;
}

p {
    font-family: $body-font-family;
}

a:link, a:visited {
    color: var(--link-color);
}

a:hover {
    color: var(--link-hover-color);
}
