// Stylesheet for sitewide footer


#sitewide-footer {
    padding: 0.1em 2em;
    background-color: gainsboro;
}

#copyright-notice {
    font-size: 0.75em;
    color: dimgray;
    text-align: right;
}
