<!-- Minimal scaffolding for webpages. -->

<!-- Copyright 2023 Qi Tianshi. All rights reserved. -->


<!DOCTYPE html>

<html lang="{{ site.lang | default: "en-US" }}">

<head>

    {% include default-head.html %}

    <!-- From `local_stylesheet` variable in front matter. -->
    {% if page.local_stylesheet %}
        <link rel="stylesheet" href="{{ page.local_stylesheet | relative_url }}">
    {% endif %}

</head>

<body>

    {% include global-header.html %}

    {{ content }}

    {% include global-footer.html %}

</body>

</html>
