---
---

// Stylesheet for ./index.html


#construction-text {
    display: inline-block;
    vertical-align: middle;
}

#construction-icon {

    display: inline-block;
    vertical-align: middle;

    height: 2em;
    margin-right: 1em;

    filter: var(--icon-color-filter)

}

#home-hero-banner {
    // Scales the background image to the height of the viewport, and applies a
    // dark gradient over it for legibility.
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/assets/images/home/desk_hero-banner.jpeg");
    background-size: cover;
    background-position: center;
}
