---
---

// Stylesheet for ./index.html


#construction-text {
    display: inline-block;
    vertical-align: middle;
}

#construction-icon {

    display: inline-block;
    vertical-align: middle;

    height: 2em;
    margin-right: 1em;

}
