---
---

// Stylesheet for ./index.html

// Copyright 2023 Qi Tianshi. All rights reserved.


#home-hero-banner {
    // Scales the background image to the height of the viewport, and applies a
    // dark gradient over it for legibility.
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/assets/images/home/desk-hero-banner.jpeg");
    background-size: cover;
    background-position: center;
}
