---
---

// Stylesheet for ./index.html

// Copyright 2023 Qi Tianshi. All rights reserved.


@import "presets";

#introduction-banner {

    // Flexbox wraps text beneath image for mobile devices.
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 4em;

    padding: 4em 3em;

    // Lets the banner take up a healthy amount of screen space. min-height
    // property ensures the div is always tall enough to accomodate its
    // contents on mobile devices. max-height property is for desktop monitors
    // in portrait orientation.
    height: fit-content;
    min-height: 75%;
    max-height: 700px;

}

@media screen and (max-width: $mobile-width-cuttoff) {
    #introduction-banner {
        padding-left: $mobile-padding;
        padding-right: $mobile-padding;
    }
}

#profile-pic {

    width: 300px;
    max-width: 100%;      // Limits width for narrow mobile devices.
    height: auto;

    border: 10px solid var(--background-primary-color);
    border-radius: 50%;
    box-shadow: $default-shadow;

}

#introduction-text {
    max-width: 80ch;
}

// Removes text margins above and below the div.

#introduction-banner h1:first-of-type {
    margin-top: 0;
}

#introduction-banner p:last-of-type {
    margin-bottom: 0;
}

#construction-card {

    margin: 5em auto;
    padding: 2em;
    width: fit-content;
    max-width: 70%;

    border-radius: $corner-radius-large;
    box-shadow: $default-shadow;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1em;

}

#construction-card p {
    margin: 0;
}

@media (prefers-color-scheme: dark) {
    #construction-card {
        background-color: var(--background-secondary-color);
    }
}

// The div that contains the three project cards
#project-cards-container {

    height: 90%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;

}

// A div with an image background and text.
.project-card {

    height: 100%;
    width: 32%;

    border-radius: $corner-radius-large;
    overflow: hidden;
    box-shadow: $default-shadow;

    position: relative;

    cursor: pointer;

    // For :hover effect
    transition-property: transform, box-shadow;
    transition-duration: 0.15s;
    transition-timing-function: ease-out;

}

// On mouseover, the card grows and shadow increases to mimic height.
.project-card:hover {
    transform: scale(1.025);
    box-shadow: 5px 5px 25px 5px rgba(0, 0, 0, 0.2);
}

.project-card-text {

    color: $text-primary-color-dark;

    // Places text at bottom-left corner
    position: absolute;
    top: 100%;
    transform: translateY(-100%);

}

.project-card-text h1 {
    margin: 1em;
}

// Changes to column layout in mobile versions.
@media screen and (max-width: 900px) {

    #project-cards-container {
        flex-direction: column;
        padding: 0 $mobile-padding;
    }

    .project-card {
        height: 32%;
        width: 100%;
    }

    .project-card-text h1 {
        margin: 0.5em;
    }

}
