// Global mixins.

// Copyright 2023 Qi Tianshi. All rights reserved.


@use "abstracts/functions" as func;
@use "abstracts/variables" as var;

/// Applies a media query to adjust styles for screens up to the width of the
/// specified breakpoint.
///
/// @param {String} $breakpoint - The key of the breakpoint from $breakpoints.
/// @require var.$breakpoints
@mixin respond-to-breakpoint($breakpoint) {

    @if map-has-key($map: var.$breakpoints, $key: $breakpoint) {

        @media screen and (max-width: map-get(var.$breakpoints, $breakpoint)) {
            @content;
        }

    }

    // Raise warning if the key doesn't exist.
    @else {
        @warn "No key `#{$breakpoint}` in $breakpoints.";
    }

}

/// When the screen is narrow, a margin is applied on the left and right edges
/// and the width and max-width are reset, so that the element fills the width
/// of the screen, less the margins.
@mixin apply-mobile-margin() {
    @include respond-to-breakpoint("small") {
        margin-left: var.$mobile-padding;
        margin-right: var.$mobile-padding;
        width: unset;
        max-width: unset;
    }
}

/// When the screen is narrow, changes the left and right paddings to
/// var.$mobile-padding.
@mixin apply-mobile-padding() {
    @include respond-to-breakpoint("small") {
        padding-left: var.$mobile-padding;
        padding-right: var.$mobile-padding;
    }
}

/// Sets the light theme color palette as CSS variables.
@mixin light-theme-palette() {

    --tiangerine-tangerine: #{func.palette("light", "tiangerine-tangerine")};

    --background-primary-color: #{func.palette("light", "background", 1)};
    --background-secondary-color: #{func.palette("light", "background", 2)};

    --foreground-primary-color: #{func.palette("light", "foreground", 1)};
    --foreground-secondary-color: #{func.palette("light", "foreground", 2)};
    --foreground-tertiary-color: #{func.palette("light", "foreground", 3)};

    --link-color: #{func.palette("light", "link", 1)};
    --link-hover-color: #{func.palette("light", "link", 2)};

    color-scheme: light;

}

/// Sets the dark theme color palette as CSS variables.
@mixin dark-theme-palette() {

    --tiangerine-tangerine: #{func.palette("dark", "tiangerine-tangerine")};

    --background-primary-color: #{func.palette("dark", "background", 1)};
    --background-secondary-color: #{func.palette("dark", "background", 2)};

    --foreground-primary-color: #{func.palette("dark", "foreground", 1)};
    --foreground-secondary-color: #{func.palette("dark", "foreground", 2)};
    --foreground-tertiary-color: #{func.palette("dark", "foreground", 3)};

    --link-color: #{func.palette("dark", "link", 1)};
    --link-hover-color: #{func.palette("dark", "link", 2)};

    color-scheme: dark;

}

/// Specifies additional styles for a specific color theme.
///
/// @param {String} $theme - The theme for which the styles are applied. Either
///     "light" or "dark".
@mixin color-theme($theme) {

    @media screen and (prefers-color-scheme: $theme) {
        @content;
    }

    &.t-#{$theme}, .t-#{$theme} & {
        @content;
    }

}

/// Applies the default shadow, with optional :hover styles.
///
/// @param {Bool} $hoverable - Increases the shadow on :hover.
@mixin default-shadow($hoverable: false) {

    box-shadow: var.$small-shadow;

    @if $hoverable {
        &:hover {
            box-shadow: var.$big-shadow;
        }
    }

}

/// Removes the top and bottom margins from :first-child and :last-child.
@mixin trim-vertical-margins() {

    & :first-child {
        margin-top: 0;
    }

    & :last-child {
        margin-bottom: 0;
    }

}
