// A stacked banner is a block-level element wherein all immediate children
// are overlaid in the z-direction. It contains primary content and optionally
// a background.

// Copyright 2023 Qi Tianshi. All rights reserved.


@use "layout/containers";
@use "abstracts/variables";
@use "base/typography";

// A banner that fills the viewport.
.c-stacked-banner {

    display: grid;

    // Increases the height of the banner to accommodate content if needed.
    min-height: fit-content;

    // Places all immediate children in the same grid-area.
    > * {
        grid-area: 1 / -1;
    }

    // The contents of the banner.
    &__content {

        // Required for z-stacking to work, otherwise the filter on the
        // background creates a new stacking context that breaks the grid
        // stack.
        position: relative;

        width: fit-content;

        // Removes the margins so that text margins won't affect positioning.
        & :first-child {
            margin-top: 0;
        }

        & :last-child {
            margin-bottom: 0;
        }

        &--leading {
            margin: auto auto auto 0;
        }

        &--bottom-leading {
            margin: auto auto 0 0;
        }

    }

    // The background image that fills the banner.
    &__background {

        width: 100%;
        height: 100%;
        object-fit: cover;

        // Allows size adjustment to work, otherwise `min-height: fit-content;` of
        // .c-stacked-banner will cause the full height of the image to be shown.
        overflow: hidden;

        filter: brightness(0.3);

        // A gray background that's only visible when the image is still waiting to
        // load, to keep the overlaid text legible.
        background: gray;

    }

    // The main heading text in .c-stacked-banner
    &__heading {

        @extend h1;

        font-size: 4em;
        margin: 0.5em 0;

        // Legibility adjustment for small screen sizes
        @media screen and (max-width: variables.$mobile-width-cuttoff) {
            font-size: 3em;
        }

        // Emphasized appearance for .c-stacked-banner
        &--emphasized {
            color: variables.$tiangerine-tangerine-dark;
        }

    }

    // Specific implementation of .c-banner-stacked that fills the entire viewport.
    &--hero {

        @extend .o-container-fill-viewport;

        .c-stacked-banner__content {
            padding: 10%;
        }

    }

}
