// Theme-specific classes.

// Copyright 2023 Qi Tianshi. All rights reserved.


@use "abstracts/variables" as var;

.t-light-text {
    color: var.$text-primary-color-light;
}

.t-dark-text {
    color: var.$text-primary-color-dark;
}

.t-device-text {
    color: var(--text-primary-color);
}
