---
---

// Stylesheet for /about.html

// Copyright 2024 Qi Tianshi. All rights reserved.


@use "abstracts/functions" as func;
@use "abstracts/mixins" as mix;
@use "abstracts/variables" as var;

#landing-banner {

    overflow: hidden;
    clip-path: content-box;

    .c-legibility-gradient {

        &:nth-of-type(1) {

            background: func.legibility-gradient(top right, 10%, 40%);

            @media screen and (max-width: var.$global-header-collapse-width) {
                background: func.legibility-gradient(top, 20%, 40%);
            }

        }

        &:nth-of-type(2) {
            background: func.legibility-gradient(bottom, 0%, var.$global-header-clear-space);
            z-index: 0;
        }

    }

    .c-stacked-banner {

        &__heading {

            margin: 0.5em;
            font-size: 10rem;

            @media screen and (max-width: 1000px) { font-size: 7.5rem; }
            @media screen and (max-width: var.$global-header-collapse-width) { font-size: 5rem; }
            @media screen and (max-width: 325px) { font-size: 3rem; }

        }

        // Centers the image on the focal point for object-position: fit and
        // the entrance animation.
        &__background {
            object-position: 80% 15%;
            transform-origin: 80% 15%;
            position: fixed;
        }

        // Moves the heading to the center. Increases the bottom margin to
        // avoid conflicting with clear space on mobile.
        @media screen and (max-width: var.$global-header-collapse-width) {
            &__content { margin: auto auto 0 auto; }
            &__heading { margin-bottom: 1em; }
        }

    }

}
