---
---

// Stylesheet for /index.html

// Copyright 2024 Qi Tianshi. All rights reserved.


@use "abstracts/functions" as func;
@use "abstracts/mixins" as mix;
@use "abstracts/variables" as var;

#landing-banner {
    overflow: hidden;
}

#landing-banner .c-stacked-banner {

    // Z-indexes
    // -1: hidden background images (loop)
    //  0: next background images (loop)
    //  1: current background image (loop)
    //  2: background filter
    //  3: content

    // The dark filter over the background images to make the text more
    // legible. Used instead of filter() for performance reasons.
    &__background-filter {
        visibility: hidden;         // Initially hidden.
        opacity: 0.35;
        background-color: black;
        z-index: 2;                 // Over the background but under the text.
    }

    // The text content of the landing banner.
    &__content {

        visibility: hidden;     // Initially hidden.
        z-index: 3;             // On top of all other elements in the landing banner.

        // The animated big name.
        #landing-banner__big-name {

            width: 30rem;
            max-width: 80vw;
            position: relative;
            top: 0.4em;

            // The visible paths of the graphic.
            #graphic path {
                fill: #fff;
            }

            // The paths for masking the graphic for the writing animation.
            .mask-path {
                fill: none;
                stroke: #fff;
            }

        }

    }

    // Basic styling for the heading text.
    &__heading {

        color: var(--tiangerine-tangerine);
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);    // For legibility.

        font-size: 2.5rem;
        line-height: 0.75;

        // Prevents the text from wrapping.
        @media screen and (max-width: 650px) { font-size: 1.5rem; }
        @media screen and (max-width: 400px) { font-size: 1.3rem; }

    }

}

#introduction-banner {

    @include mix.mobile-horizontal-spacing("padding");

    justify-content: center;
    gap: 3rem;

    padding: 25vh 3rem;

    .o-media__image {

        @include mix.default-shadow();

        width: 300px;
        max-width: 90vw;       // Limits width for narrower screens.
        height: auto;

        // Crops the image to a circle.
        border-radius: 50%;
        border: 10px solid var(--background-primary-color);

    }

}

#project-cards-container {

    height: 90vh;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;

    .project-card {

        @include mix.default-shadow($hoverable: true);

        height: 100%;
        width: 32%;

        position: relative;

        // For :hover effect.
        transition-property: transform, box-shadow;
        transition-duration: 0.4s;
        transition-timing-function: var.$fast-ease-out;

        // The card grows and its shadow increases to mimic height.
        &:hover {
            transform: scale(102.5%);
        }

        &__content {
            padding: 10%;
            font-weight: normal;
        }

        // Applies a legibility gradient over the image. Stops are defined to
        // ensure legibility at all screen sizes.
        .c-legibility-gradient {
            background: func.legibility-gradient(top, 10%, calc(3.5rem + 30%));
        }

    }

    // Changes to column layout in mobile versions. 1050px is the size at which
    // the text begins to get cut off in flex-direction: row;.
    @media screen and (max-width: 1050px) {

        // Keeps all text visible.
        min-height: 450px;

        padding: 0 var.$mobile-padding;

        flex-direction: column;
        gap: var.$mobile-padding;
        justify-content: space-between;

        .project-card {

            width: 100%;

            .c-stacked-banner__content {

                // Ideally the padding would be 10% of parent element height,
                // analogous to the row layout being 10% of width. Since the
                // parent height 90vh, which contains 3 children, 10% is
                // roughly 3vh.
                padding: max(3vh, 1.5rem);

            }

        }

    }

}

#construction-card {

    // The width fits its content, or is the padded viewport width, whichever
    // is smaller.
    box-sizing: border-box;
    width: fit-content;
    max-width: calc(100vw - 2 * var.$mobile-padding);

    margin: 5rem auto;
    padding: 2rem;
    gap: 0.5rem;

    .o-media__image {

        height: 48px;
        width: auto;

        path {
            fill: var(--tiangerine-tangerine);
        }

    }

    .o-media__content * {
        margin: 0;
        color: var(--foreground-primary-color);
    }

}
