---
---

// Stylesheet for ./index.html

// Copyright 2023 Qi Tianshi. All rights reserved.


@use "abstracts/functions" as func;
@use "abstracts/mixins" as mix;
@use "abstracts/variables" as var;

#landing-banner .c-stacked-banner__heading {

    font-size: 2.5rem;

    @include mix.respond-to-breakpoint("small") {
        font-size: 1.5rem;
    }

    #landing-banner__big-name {

        display: block;

        font-size: 3em;
        color: func.palette("dark", "foreground", 1);
        line-height: 0.9em;

        @media screen and (max-width: 700px) {
            font-size: 2em;
        }

        @include mix.respond-to-breakpoint("small") {
            font-size: 2.5em;
        }

    }

}

#introduction-banner {

    @include mix.apply-mobile-padding();

    justify-content: center;
    gap: 3rem;

    padding: 25vh 3rem;

    .o-media__image {

        @include mix.default-shadow();

        width: 300px;
        max-width: 90vw;       // Limits width for narrower screens.
        height: auto;

        border: 10px solid var(--background-primary-color);
        border-radius: 50%;

    }

}

#construction-card {

    @include mix.apply-mobile-margin();

    margin: 5rem auto;
    padding: 2rem;
    width: fit-content;
    max-width: 70%;

    gap: 1rem;

    .o-media__image {

        height: 48px;
        width: auto;

        path { fill: var(--tiangerine-tangerine); }

    }

    .o-media__content * {
        margin: 0;
        color: var(--foreground-primary-color);
    }

}

// The div that contains the three project cards
#project-cards-container {

    height: 90vh;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;

}

// A div with an image background and text.
.project-card {

    @include mix.default-shadow($hoverable: true);

    height: 100%;
    width: 32%;

    position: relative;

    // For :hover effect
    transition-property: transform, box-shadow;
    transition-duration: 0.4s;
    transition-timing-function: var.$fast-ease-out;

    // On mouseover, the card grows and shadow increases to mimic height.
    &:hover {
        transform: scale(102.5%);
    }

    .c-stacked-banner__content {
        padding: 10%;
        font-weight: normal;
    }

    .c-stacked-banner__background {
        filter: none;
    }

    // Applies a legibility gradient over the image.
    &__background-container::after {

        // An empty block that fills its container.
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: block;

        // Applies a gradient. The stops are defined to to ensure legibility at
        // all screen sizes.
        background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 10%, transparent calc(3.5rem + 30%));

    }

}

// Changes to column layout in mobile versions. 1000px is the size at which the
// text begins to get cut off in flex-direction: row;.
@media screen and (max-width: 1050px) {

    #project-cards-container {

        height: 90vh;
        min-height: 450px;    // The min height to keep all text visible.

        padding: 0 var.$mobile-padding;

        flex-direction: column;
        gap: var.$mobile-padding;
        justify-content: space-between;

    }

    .project-card {

        width: 100%;

        .c-stacked-banner__content {

            // Ideally the padding would be 10% of parent element height, but
            // it's difficult without JS. Since the parent height is known as
            // at least 90vh, which contains 3 children, 10% is roughly 3vh.
            padding: max(3vh, 1.5rem);

        }

    }

}
