// Classes for common containers.

// Copyright 2023 Qi Tianshi. All rights reserved.


@import "presets";

.o-container-fill-viewport {
    width: 100vw;
    height: 100vh;
}

.o-container-card {
    border-radius: $corner-radius-large;
    overflow: hidden;
}
