// Classes for common containers.

// Copyright 2023 Qi Tianshi. All rights reserved.


// Fills the entire viewport.
.o-container-fill-viewport {
    width: 100vw;
    height: 100vh;
}

// A card with rounded corners.
.o-container-card {
    border-radius: 15px;
    overflow: hidden;
}

// The Media Object. An image with text that appears as columns on wide screens
// and rows on narrow screens.
.o-media {

    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &__content {

        & :first-child {
            margin-top: 0;
        }

        & :last-child {
            margin-bottom: 0;
        }

    }

}
