// Stylesheet for the sitewide footer.

// Copyright 2023 Qi Tianshi. All rights reserved.


@use "abstracts/mixins" as mix;
@use "abstracts/variables" as var;
@use "themes/themes";

#sitewide-header {

    // Causes text to appear in dark theme colors.
    @extend .t-dark;

    // Places header above other page elements.
    position: fixed;
    z-index: 999;
    width: 100vw;

    // Fallback for browsers that don't support backdrop-filter.
    background-color: var.$background-secondary-color-dark;

    // Checks for backdrop-filter support. If available, the fallback
    // background-color is overriden.
    @supports (backdrop-filter: blur(10px) brightness(0.25)) {
        backdrop-filter: blur(10px) brightness(0.25);
        background-color: transparent;
    }

    nav {

        // Links have 3em of horizontal padding, but visually aligns links with
        // landing page hero banner.
        padding: 0 calc(10vw - 3em);

        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    &__home-navlink {

        transition: transform 0.1s ease-out;

        #sitewide-header__logo {

            height: 1.75em;
            margin: 0 3em;

            // Selects the <path> tag in the SVG element. Otherwise, the
            // `body *` selector in _typography will override the color of the
            // path.
            path {
                transition: color 0.1s;
                color: var(--foreground-primary-color);
            }

        }

        &:hover {

            transform: scale(110%);

            #sitewide-header__logo path {
                color: var(--tiangerine-tangerine);
            }

        }

    }

    &__navigation-links {

        list-style-type: none;
        margin: 0;
        padding: 0;

        li {

            display: inline-block;

            a {

                display: block;
                padding: 0.75em 2em;

                // Overrides default link appearance.
                color: var(--foreground-primary-color);
                font-size: 0.9em;
                font-weight: 300;

                // For hover effect.
                transition-property: color, transform;
                transition-duration: 0.1s;
                transition-timing-function: ease-out;

                &:hover {
                    color: var(--tiangerine-tangerine);
                    text-decoration: none;
                    transform: scale(110%);
                }

            }

        }

    }

}
