// Stylesheet for the sitewide footer.

// Copyright 2023 Qi Tianshi. All rights reserved.


@use "abstracts/mixins" as mix;
@use "abstracts/variables" as var;
@use "themes/themes";

#sitewide-header {

    // Causes text to appear in dark theme colors.
    @extend .t-dark;

    // Places header above other page elements.
    position: fixed;
    z-index: 999;
    width: 100vw;

    backdrop-filter: blur(10px) brightness(0.3);

    nav {

        // Links have 3em of horizontal padding, but visually aligns links with
        // landing page hero banner.
        padding: 0 calc(10vw - 3em);

        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    &__logo {
        height: 2em;
        margin: 0 3em;
    }

    &__navigation-links {

        list-style-type: none;
        margin: 0;
        padding: 0;

        li {

            display: inline-block;

            a {

                display: block;
                padding: 0.75em 3em;

                // Overrides default link appearance.
                color: var(--foreground-primary-color);

            }

        }

    }

}
