// Stylesheet for the sitewide footer.

// Copyright 2023 Qi Tianshi. All rights reserved.


#sitewide-footer {

    padding: 0.1rem 1.5rem;
    background-color: var(--background-secondary-color);

    &__copyright-notice {
        font-size: 0.6rem;
        color: var(--text-secondary-color);
        text-align: right;
    }

}
